<h1 class="display-1">Blogetty Blog</h1>

<h3 class="display-3">Love blogs?  Us too.</h3>

<h5 class="display-5">That's why we blog about blogs.</h5>

<img class="img-fluid" src="/images/home_image.jpeg" alt="Whoa! Blog!" />
