<form class="w-50 border border-light rounded mx-auto pt-3 pb-5 px-3 mt-3" method="POST" action="/articles">
  <h2>New article</h2>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" placeholder="Make it catchy!" name="title" required />
  </div>
  <div class="form-group">
    <label for="name">Author:</label>
    <select name="authorId" class="form-control" required>
      <option value="0">Choose Your Name Below</option>
      <% if(authors) {%>
        <% authors.forEach(function(a){%>
          <option value="<%=a.id%>">
            <%= a.name %>
          </option>
        <%});%>
      <% }%>
    </select>
    Don't see your name?
    <a href="/authors/new">Register Here</a>!
  </div>
  <div class="form-group">
    <label for="content">What do you have to say?</label>
    <textarea class="form-control" rows="8" name="content" Placeholder="Gimmie those ill words." required></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags:</label>
    <input class="form-control" type="text" name="tags" placeholder="Drop a tag on it! (comma separated)" />
  </div>
  <div class="form-group">
    <input class="btn btn-outline-primary float-right" type="submit" value="submit" />
  </div>
</form>
