<form class="w-50 border border-light rounded mx-auto pt-3 pb-5 px-3 mt-3">
  <h2>New article</h2>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" placeholder="Make it catchy!" name="title" required />
  </div>
  <div class="form-group">
    <label for="content">What do you have to say?</label>
    <textarea class="form-control" rows="8" name="content" Placeholder="Gimmie those ill words." required></textarea>
  </div> 
  <div class="form-group">
    <input class="btn btn-outline-primary float-right" type="submit" value="submit" />
  </div>
</form>
