<form id="edit-tag" action="/tags/<%= tag.id %>">
  <div class="form-group">
    <label for="">Tag Name:</label>
    <input type="text" class="fom-control" name="name" value="<%= tag.name %>" />
  </div>
  <input class="btn btn-warning" type="submit" value="Change it!" />
</form>
