<h2>#<%= tag.name %></h2>

<h4>Articles associated with #<%= tag.name %></h4>

<% tag.articles.forEach(function(article) { %>
  <div>
    <a href="/articles/<%=article.id%>">
      <%= article.title %>
    </a>
  </div>
<%});%>
