<form class="w-50 border border-light rounded mx-auto pt-3 pb-5 px-3 mt-3" method="POST" action="/authors">
  <h2>New author</h2>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" placeholder="What's your handle?" name="name" required />
  </div>
  <div class="form-group">
    <label for="bio">Tell us about yourself!</label>
    <textarea class="form-control" rows="8" name="bio" Placeholder="Speak your truth fam." required></textarea>
  </div>
  <div class="form-group">
    <label for="image-link">Link your picture</label>
    <input type="url" class="form-control" placeholder="https://www.yourawesomepicture.com" name="image" />
  </div>
  <div class="form-group">
    <input class="btn btn-outline-primary float-right" type="submit" value="submit" />
  </div>
</form>
